.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  gap: 10px;
  height: 72px;
  background: #2c2c2c;
  color: #f2f1f0;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 27px;
  width: 518px;
  height: 72px;
}

.image img {
  margin-top: 10px;
  width: 280px;
  height: 142px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 201px;
  height: 47px;
  border: 1px solid #f2f1f0;
  border-radius: 5px;
}

.btn div {
  width: 155px;
  height: 27px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 0.025em;
}

.header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 50px;
  width: 533px;
  height: 38px;
}

.header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 6px;
  isolation: isolate;
  width: 342px;
  height: 38px;
}

.header li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;

  width: 69px;
  height: 38px;
}

.header a {
  text-decoration: none;
  color: #f2f1f0;
}

.header nav button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 12px;
  gap: 4px;
  width: 141px;
  height: 33px;
  border: none;
  background: #ea8933;
  border-radius: 5px;
  font-family: "Poppins";
  font-size: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #f2f1f0;
  cursor: pointer;
}

/*
.header a:hover,
.header a:active,
.header a.active {
  color: white;
} */
