@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap");
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 1px;
  width: 280px;
  height: 348px;
  background: #ffffff;
  border: 0.5px solid #ea8933;
  box-shadow: 0px 6px 31px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  transition: all 0.2s;
}

.main:hover {
  transform: translateY(-10px);
  transition: transform 0.2s;
  box-shadow: 0 2px 30px #eeaf79;
}

.main img {
  width: 280px;
  height: 153px;
  background: #d9d9d9;
  border-radius: 10px 10px 0px 0px;
}

.item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 10px;
  gap: 10px;
  width: 280px;
  height: 194px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 260px;
  height: 62px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 260px;
  height: 22px;
}

.name {
  width: 129px;
  height: 18px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 111.1%;
  color: #2c2c2c;
}

.time {
  width: 64px;
  height: 22px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #2c2c2c;
}

.code {
  width: 260px;
  height: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #919191;
}

.border {
  width: 260px;
  height: 0px;
  border: 1px dashed #919191;
}

.item-info button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 12px;
  margin-top: 10px;
  outline: none;
  border: none;
  gap: 4px;
  width: 58px;
  height: 33px;
  background: #ea8933;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #f2f1f0;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.item-info button:hover {
  background: #713601;
  color: #f2f1f0;
}
