.searchInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 20px;
  gap: 10px;
  width: 564px;
  height: 33px;
  background: #f2f1f0;
  border-radius: 31px;
}

.searchInput input {
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: none;
  border: none;
  padding: 10px;
  gap: 10px;
  width: 163px;
  height: 22px;
  background: #f2f1f0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #2c2c2c;
}

.border {
  width: 4px;
  height: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #cdcdcd;
}

.search {
  display: flex;
  align-items: center;
}

.searchInput button {
  padding: 6px 12px;
  gap: 4px;
  width: 82px;
  height: 33px;
  background: #ea8933;
  border-radius: 17px;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #f2f1f0;
  cursor: pointer;
}
