@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Sacramento&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  font-style: normal;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

button {
  cursor: pointer;
}
